{% extends 'blog/base.html' %} {% block content %}

  <div class="container">
    
   <div class="" >
    <div class="d-md-flex justify-content-between my-5">
      <h2 class="">{{post.title}}</h2>
      <div class="header-left">
        <p class="">
          {{post.created_date}} 
        </p>
        <p class=""> {{post.read_time}} mins read.</p>
      </div>

    </div>
    <div class="text-center"> 
       <img src="{{ post.image.url }}" alt="Image for {{ blog.title }}" style="max-width: 20%; height: 40%;">
         </div>
        <p>No image available for this post.</p>


    <p class="">{{post.content | safe}}</p>
  </div>

  </div>

</div> 

{% endblock content %}
